:root {
  --green1: #1a3a46;
  --green2: #386857;
  --green3: #738564;
  --yellow: #ecd995;
  --orange1: #e89d56;
  --orange2: #cd541d;
  --red: #922637;
  --brown: #764d49;

  /* --darkgreen: #244e04;
  --lightgreen: #8aa26e;
  --beige: #f6f8e0;
  --crimson: #b91343;
  --darkgrey: #3c4b52;

  --tyrian-purple: #58094f;
  --tyrian-purple-80: rgb(88, 9, 79, 0.8);
  --dark-purple: #841e62;
  --lightning-yellow: #f3aa20;
  --catalina-blue: #2a445e;
  --catalina-blue-80: rgb(42, 68, 94, 0.8);
  --blumine: #346b6d;

  --black-pearl: #181e20;
  --sherpa-blue: #02314d;
  --sherpa-blue-transparent: rgb(2, 49, 77, 0.8);
  --cobalt: #045c94;
  --light-tangerine: hsl(42, 100%, 65%);
  --tangerine: hsl(42, 100%, 60%);
  --dark-tangerine: #ffbb1c;
  --dark-tangerine-transparent: rgb(255, 187, 28, 0.8);
  --solitude: #f2f4f5;
  --dark-cyan: #049484;

  --chathams-blue: #29526e;
  --chathams-blue-darker: #1c384a;
  --chathams-blue-darker: #387194; */
}

/* § Configs */
html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  color: inherit;
  background-color: inherit;
}

/* § General Styling */
body {
  margin: 0;
  color: var(--yellow);

  background: rgb(26, 58, 70);
  background: linear-gradient(
    0deg,
    /* rgba(26, 58, 70, 1) 0%, */ var(--orange1) 0%,
    rgba(205, 84, 29, 1) 50%,
    rgba(146, 38, 55, 1) 100%
  );

  font-family: Arial, Helvetica, sans-serif;
}

/* #240002
#6f0100
#a53005
#d97d0c
#fec135 */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  height: 15vh;

  color: var(--yellow);

  font-size: 2rem;
  font-family: "DM Serif Display", serif;

  line-height: 4rem;
  letter-spacing: 0;

  text-align: center;
  text-transform: uppercase;

  text-shadow: 2px 0 var(--brown), -2px 0 var(--brown), 0 2px var(--brown),
    0 -2px var(--brown), 1px 1px var(--brown), -1px -1px var(--brown),
    1px -1px var(--brown), -1px 1px var(--brown);
}

/* § Component: Entrance */
.new-room-button {
  width: 10rem;

  padding: 1rem 0;
  margin: 2rem auto;

  background-color: var(--green1);

  border: 1px solid;

  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  animation: glowing-green 2500ms infinite;
}

.new-room-button:hover {
  background-color: var(--green2);
  animation: none;
}

/* § Layout */

/* § Component: Room */
.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 85vh;
}

.room-share span {
  margin: auto 5px;
  padding: 5px;
  padding-right: 7px; /* To centralize the icon. */

  color: var(--solitude);
  background: rgb(56, 113, 148);
  background: radial-gradient(
    circle,
    rgba(56, 113, 148, 1) 0%,
    rgba(41, 82, 110, 1) 50%,
    rgba(28, 56, 74, 1) 100%
  );

  border: 1px solid;
  border-color: var(--yellow);
  border-radius: 50%;

  font-size: 2rem;
  cursor: pointer;
}

/* § Component: Theme */

.theme,
.theme-disabled {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 5rem;
  width: 100vw;

  margin: 0 auto;

  color: var(--orange1);
  background-color: var(--green1);

  font-family: "PT Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;

  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
}

.theme-disabled {
  color: transparent;
  background-color: hsla(196, 46%, 19%, 0.5);
}

.theme form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme input {
  font-size: 0.8rem;
  text-align: center;

  border-bottom: 1px solid;
  border-color: var(--beige);
}

/* § Component: Table */

#table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 50vh; /* mudar isso */
  width: 95vw;

  margin: 1em auto;

  background: rgb(115, 133, 100);
  background: linear-gradient(
    -45deg,
    rgba(115, 133, 100, 1) 0%,
    rgba(56, 104, 87, 1) 100%
  );

  border: 2px solid;
  border-color: var(--yellow);
  border-radius: 50%;

  box-shadow: var(--green1) 2px 2px 3px;
}

#table ul {
  padding: 0;
  list-style: none;

  color: var(--darkgrey);

  /* border: 1px solid; */
  /* border-color: var(--black-pearl); */

  font-size: 2rem;
}

#table > ul > div {
  margin: 0;
  padding: 0.5rem 2rem;

  color: var(--solitude);
  background-color: var(--black-pearl);

  font-size: 2rem;
  text-transform: capitalize;

  text-align: center;
}

#table li {
  padding-left: 1.5rem;

  color: var(--solitude);

  font-size: 1.5rem;
}

#table li:nth-child(odd) {
  background: var(--cobalt);
}

#table li:nth-child(even) {
  background: var(--sherpa-blue);
}

.table-buttons {
  width: 10rem;

  padding: 1rem 0;
  margin: 2rem 1rem;

  color: var(--yellow);
  background-color: var(--green1);

  border: 1px solid;

  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.table-buttons:hover {
  background-color: var(--orange2);
}

#join-table-button {
  animation: glowing-green-red 2500ms infinite;
}

/* § Hand */

.hand {
  display: grid;
  grid-template-columns: repeat(12, 66px);
  gap: 7px;

  padding: 3vw;
  width: 100vw;

  overflow-x: auto;

  background-color: hsl(0, 0%, 100%, 0.1);
}

.card,
.card-selected,
.card-disabled {
  width: 66px;
  height: 90px;

  color: var(--green1);

  background: rgb(246, 245, 250);
  background: linear-gradient(
    -170deg,
    rgba(246, 245, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  background: rgb(232, 157, 86);
  background: linear-gradient(
    0deg,
    rgba(232, 157, 86, 1) 0%,
    rgba(236, 217, 149, 1) 100%
  );

  font-size: 3rem;
  text-shadow: 1px 1px 1px var(--black-pearl);

  border: 1px solid;
  border-color: var(--green3);
  border-radius: 1rem;

  box-shadow: 1px 1px 1px var(--black-pearl);
}

.card-selected {
  color: var(--green1);

  background-color: var(--red);

  border: 2px solid;
  border-color: var(--red);
  border-radius: 1rem;
}

.card:hover,
.card-selected:hover,
.card-disabled:hover {
  color: var(--green1);

  background: rgba(236, 217, 149, 1);
}

/* .card::after, */
.card-disabled::after {
  content: "\2666";
  color: var(--orange1);
  font-size: 6rem;
}

/* .card-disabled,
.card-disabled:hover {
  color: darkgray;
  background-color: grey;

  border: 2px solid;
  border-color: darkgray;
  border-radius: 1rem;
} */

@media screen and (min-width: 600px) {
}

@keyframes glowing-green-red {
  0% {
    background-color: var(--green1);
    box-shadow: 0 0 3px var(--green1);
  }
  50% {
    background-color: var(--red);
    box-shadow: 0 0 10px var(--red);
  }
  100% {
    background-color: var(--green1);
    box-shadow: 0 0 3px var(--green1);
  }
}

@keyframes glowing-green {
  0% {
    background-color: var(--green1);
    box-shadow: 0 0 3px var(--green1);
  }
  50% {
    background-color: var(--green2);
    box-shadow: 0 0 10px var(--green2);
  }
  100% {
    background-color: var(--green1);
    box-shadow: 0 0 3px var(--green1);
  }
}
