:root {
  --darkgreen: #244e04;
  --lightgreen: #8aa26e;
  --beige: #f6f8e0;
  --crimson: #b91343;
  --darkgrey: #3c4b52;

  --tyrian-purple: #58094f;
  --dark-purple: #841e62;
  --lightning-yellow: #f3aa20;
  --catalina-blue: #2a445e;
  --blumine: #346b6d;
}

/* § Configs */
html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  color: inherit;
  background-color: inherit;
}

/* § General Styling */
body {
  margin: 0;
  color: var(--darkgrey);
  background-color: var(--beige);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  height: 15vh;

  color: var(--lightgreen);

  font-size: 1.6rem;
  text-align: center;
}

button {
  border: none;

  min-height: 2rem;
  min-width: 2rem;

  padding: 1rem;

  margin: 1rem;

  background-color: var(--crimson);

  border: 1px var(--darkgrey) solid;
  border-radius: 1px;

  text-transform: capitalize;
}

button:hover {
  border: none;

  background-color: var(--lightgreen);

  border: 1px solid;
  border-color: var(--darkgrey);
  border-radius: 1px;
}

/* § Component: Entrance */
.new-room-button {
  height: 3rem;
  width: 10rem;

  padding-top: 0.5rem;
  margin: 2rem auto;

  color: var(--beige);
  background-color: var(--darkgreen);

  border: 1px solid;
  border-color: var(--darkgrey);

  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.new-room-button:hover {
  background-color: var(--lightgreen);
}

/* § Layout */

/* § Component: Room */
.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 85vh;
}

/* § Component: Dealer */

.theme {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 5rem;
  width: 100vw;

  margin: 0 auto;

  color: black;
  background-color: var(--lightgreen);

  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: 500;

  text-transform: uppercase;

  cursor: pointer;
}

.theme form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme input {
  font-size: 0.8rem;
  text-align: center;

  border-bottom: 1px solid;
  border-color: var(--beige);
}

/* § Component: Seats */
.seats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 50vh; /* mudar isso */
  width: 95vw;

  margin: 1em auto;

  background: rgb(138, 162, 110);
  background: radial-gradient(
    circle,
    rgba(138, 162, 110, 1) 0%,
    rgba(36, 78, 4, 0.8) 100%
  );

  border: 2px solid;
  border-color: var(--darkgreen);
  border-radius: 20px;

  box-shadow: var(--darkgrey) 2px 2px 3px;
}

.seats ul {
  padding: 0;
  list-style: none;

  color: var(--darkgrey);

  border: 1px solid;
  border-color: var(--crimson);

  font-size: 2rem;
}

.seats > ul > div {
  margin: 0;
  padding: 0.5rem 2rem;

  color: var(--beige);
  background-color: var(--darkgreen);

  font-size: 2rem;
  text-transform: capitalize;

  text-align: center;
}

.seats li {
  padding-left: 1.5rem;

  color: var(--darkgrey);

  font-size: 1.5rem;
}

.seats li:nth-child(odd) {
  background: rgb(138, 162, 110);
  background: linear-gradient(
    90deg,
    rgba(138, 162, 110, 1) 0%,
    rgba(246, 248, 224, 1) 100%
  );
}

.seats li:nth-child(even) {
  background: rgb(246, 248, 224);
  background: linear-gradient(
    90deg,
    rgba(246, 248, 224, 1) 0%,
    rgba(138, 162, 110, 1) 100%
  );
}

/* .player::before {
  content: "x";
}

.player-ready::before {
  content: "ok";
} */

/* Component: Hand */
/* .container {
  position: fixed;
  bottom: 0;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.hand {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  gap: 5px;

  width: 100vw;

  overflow-x: auto;

  background-color: var(--darkgrey);
}

.card,
.card-selected {
  width: 60px;
  height: 85px;

  color: var(--darkgreen);

  background-color: var(--beige);

  font-size: 2.8rem;

  border: 2px solid;
  border-color: var(--lightgreen);
  border-radius: 1rem;
}

.card-selected {
  background-color: rgb(209, 183, 234);
}

.card:hover {
  color: var(--honeydew);

  background: rgb(241, 250, 238);
  background: linear-gradient(
    135deg,
    var(--prussian-blue) 0%,
    hsla(45, 51%, 82%, 0.25) 100%
  );
}

.card-selected {
  color: var(--honeydew);
  border: 2px var(--honeydew) solid;

  box-shadow: 1px 1px 2px var(--prussian-blue);
  font-family: "PT Serif", serif;
}

@media screen and (width: 600px) {
}
